@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.antDDefault {
  background: #ECECEC;
  padding: 30px;
}


.logo-text {
  font-size: 1.9rem;
}

.offset:before {
  display:block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
*/
.navbar {
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.6)!important;
}

.navbar-brand img{
  height: 2rem;
}

.navbar-nav li {
  font-size: 1.2rem;
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #3fb1b7;
}

.home-inner{
  background-image: url(img/bg1.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;  
}

.caption h1 {
  color: white;  
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  color: white;  
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1{
  font-size: 2.4rem;
}

.btn-secondary{
  border-width: medium;
  border-radius: 0;
  font-size: 1.2 rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: #aa5a4c;
  border-color: #aa5a4c;
}

.btn-secondary:hover{
  background-color: #ac4735;
  border-color: #b7513f;
}

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius:0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.9rem;
}
.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #3fb1b7;
  margin: 0 auto 2rem;
}


.product svg.svg-inline--fa {
  color: #3fb1b7;
}
.product h3 {
  font-size: 1.7rem;
  padding-bottom: .4rem;
}
.product p {
  font-size: 1.1rem;
}

footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 2rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #3fb1b7!important;
}

hr.socket {
  width: 100%;
  border-top:.2rem solid #666b71;
  margin-top: 3rem;
}

.strong-p{
  font-weight: bold;
}

@media (max-width: 767px){

  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  
  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1{
    font-size: 1.5rem;
  }
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
